{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>

      <!-- header section start -->
      <!-- service section start -->
      <div class="service_section layout_padding">
         <div class="container">
            <h1 class="service_taital">Our Classes</h1>
            <div class="service_section_2 layout_padding">
               <div class="owl-carousel owl-theme">
                  <div class="item">
                     <div class="image_box">
                        <img src="{% static "images/img-1.png" %}" alt="#" />
                     </div>
                     <h3 class="sound_text">Rock <br>Dance</h3>
                     <div class="buy_bt"><a href="#">Read More</a></div>
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img src="{% static "images/img-2.png" %}" alt="#" />
                     </div>
                     <h3 class="sound_text">Hip Hop <br>Dance</h3>
                     <div class="buy_bt"><a href="#">Read More</a></div>
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img src="{% static "images/img-1.png" %}" alt="#" />
                     </div>
                     <h3 class="sound_text">Style <br>Dance</h3>
                     <div class="buy_bt"><a href="#">Read More</a></div>
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img src="{% static "images/img-1.png" %}" alt="#" />
                     </div>
                     <h3 class="sound_text">Rock <br>Dance</h3>
                     <div class="buy_bt"><a href="#">Read More</a></div>
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img src="{% static "images/img-1.png" %}" alt="#" />
                     </div>
                     <h3 class="sound_text">Rock <br>Dance</h3>
                     <div class="buy_bt"><a href="#">Read More</a></div>
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img src="{% static "images/img-2.png" %}" alt="#" />
                     </div>
                     <h3 class="sound_text">Hip Hop <br>Dance</h3>
                     <div class="buy_bt"><a href="#">Read More</a></div>
                  </div>
                  <div class="item">
                     <div class="image_box">
                        <img src="{% static "images/img-1.png" %}" alt="#" />
                     </div>
                     <h3 class="sound_text">Style <br>Dance</h3>
                     <div class="buy_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- service section end -->
      <!-- footer section start -->
{% endblock  %} 